.container {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 20px;
}

#nav-container {
  margin-bottom: 0px;
}

.form-container {
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
}

.padding {
  padding-top: 12px;
}

.margin {
  margin: 5px;
}

#login-container {
  margin-top: 35px;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  height: 350px;
  border-radius: 10px;
}

.credential-error {
  margin: 5px;
  width: 500px;
  display: inline-block;
  text-align: center;
}

#id-input, #password-input {
  width: 250px;
}

input:focus {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  border-radius: 5px;
}

button {
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.05em;
}

.add-employee-label, .add-department-label, .left {
  float: left;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.auto-width {
  width: 100%;
}

#id-container, #password-container {
  display: inline-block;
  text-align: center;
}

td {
  vertical-align: middle;
}

#logout {
  margin-right: 100px;
  text-decoration: none;
  border: 0.5px solid #b8c7d6;
  font-size: 110%;
}

#logout:hover {
  background: #282E6A;
}

#logout > a {
  text-decoration: none;
  color: black;
}

#logout:hover > a {
  color: white;
}

#nav-lms {
  background: #282E6A;
  cursor: default;
}

#nav-lms > div > span:nth-child(2) {
  margin-right: 100px;
}

#navbarDarkDropdownMenuLink {
  color: #000;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

#view-dropdown > li > ul > li:hover, #view-navbarLightDropdownMenuLink:hover {
  background: #282E6A;
  color: white;
}

#view-dropdown > li > ul > li > a:hover {
  color: white;
}

#view-navbarLightDropdownMenuLink {
  color: rgba(0, 0, 0, 0.9);
}

#add-dropdown > li > ul > li:hover, #add-navbarLightDropdownMenuLink:hover {
  background: #282E6A;
  color: white;
}

#add-dropdown > li > ul > li > a:hover {
  color: white;
}

#add-navbarLightDropdownMenuLink {
  color: rgba(0, 0, 0, 0.9);
}

#update-dropdown > li > ul > li:hover, #update-navbarLightDropdownMenuLink:hover {
  background: #282E6A;
  color: white;
}

#update-dropdown > li > ul > li > a:hover {
  color: white;
}

#update-navbarLightDropdownMenuLink {
  color: rgba(0, 0, 0, 0.9);
}

#nav-request-leave:hover, #nav-carry-forward-leaves:hover, #nav-delegate:hover {
  background: #282E6A;
  color: white;
}

#input-add-file {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.table {
  margin: 0 auto;
}

.mb-3 {
  text-align: center;
}

hr {
  border: 1px solid #0777BC;
  padding: 0px;
  margin: 0px;
}
/*# sourceMappingURL=styles.css.map */