{% extends 'app/layout.html' %}

{% block body %}

<span id='current-user' hidden> {{ user.username }} </span>
<span id='current-role' hidden> {{ user.role.name }} </span>
<span id='current-group' hidden> {{ group.name }} </span>
<span id='delegate-status' hidden> {{ delegate }}</span>
<span id='current-department' hidden> {{ user.department.name }} </span>

<div class="container">

  <div class="alert alert-success alert-dismissible fade show credential-error" role="alert" id='employee-added-message'>
    <strong>Employee added!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="alert alert-success alert-dismissible fade show credential-error" role="alert" id='department-added-message'>
    <strong>Department added!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="alert alert-success alert-dismissible fade show credential-error" role="alert" id='leave-requested-message'>
    <strong>Leave Requested!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="alert alert-success alert-dismissible fade show credential-error" role="alert" id='leave-added-message'>
    <strong>Request Processed!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="alert alert-success alert-dismissible fade show credential-error" role="alert" id='holiday-added-message'>
    <strong>Holiday Added!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="alert alert-success alert-dismissible fade show credential-error" role="alert" id='study-period-added-message'>
    <strong>Study Period added!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeModalLabel">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='form-add-employee'>
          {% csrf_token %}
          <div class="mb-3">
              <label for="employee-id" class="col-form-label add-employee-label">ID</label>
              <input type="text" class="form-control" id="employee-id">
          </div>
          <div class="mb-3">
            <label for="employee-gender" class="col-form-label add-employee-label">Gender</label>
            <select id="employee-gender" class="form-control" required>
              <option value="" selected disabled>Select gender</option>
                {% for gender in genders %}
              <option value="{{ gender.0 }}">{{ gender.1 }}</option>
                {% endfor %}
            </select>                         
          </div>
          <div class="mb-3">
            <label for="employee-department" class="col-form-label add-employee-label">Department</label>
            <select id="employee-department" class="form-control" required>
              <option value="" selected disabled>Select Department</option>
                {% for department in departments %}
                <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>           
          </div>
          <div class="mb-3">
            <label for="employee-role" class="col-form-label add-employee-label">Role</label>
            <select id="employee-role" class="form-control" required>
              <option value="" selected disabled>Select Role</option>
              {% for role in roles %}
              <option value="{{ role.id }}">{{ role.name }}</option>
              {% endfor %}
            </select>                         
          </div>
            
          <div class="mb-3" >
            <div class="alert alert-success" role="alert" id='adding-employee-message'>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Reset</button>
            <button type="submit" class="btn btn-primary" id='submit-add-employee'>Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>

<div class="modal fade" id="departmentModal" tabindex="-1" aria-labelledby="departmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="departmentModalLabel">Add Department</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='form-add-department'>
          {% csrf_token %}
          
          <div class="mb-3">
              <label for="department-name" class="col-form-label add-department-label">Name</label>
              <input  type="text" class="form-control" id="department-name">
          </div>
          <div class="mb-3" id='adding-department-message'>
            <div class="alert alert-success" role="alert">
              <strong>Adding department...</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Reset</button>
            <button type="submit" class="btn btn-primary" id='submit-add-department'>Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>

<div class="modal fade" id="reqLeaveModal" tabindex="-1" aria-labelledby="reqLeaveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" id='request-leave-header'>
        <h5 class="modal-title" id="reqLeaveModalLabel">Request Leave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='mb-3' id='request-leave-warning'></div>
      <div id="reqLeave-modal-body" class="modal-body">
        <form id='form-request-leave'>
          {% csrf_token %}
          <div class="mb-3">
            <label for="leave-type" class="col-form-label leave-type-label">Leave Type</label>
            <select id="leave-type" class="form-control" required>
              <option value="" selected disabled>Select Leave Type</option>
                {% for leave in leaves %}
              <option value="{{ leave.0 }}">{{ leave.1 }}</option>
                {% endfor %}
            </select>                         
          </div>
          <div class="mb-3">
              <label for="start-date" class="col-form-label reason-label" required>Start Date</label>
              <input type="date" class="form-control set-min" id="start-date" >
          </div>
          <div class="mb-3 end-date-container">
              <label for="end-date" class="col-form-label reason-label">End Date</label>
              <input type="date" class="form-control set-min" id="end-date" >
          </div>
          <div class="mb-3 time-container">
              <label for="start-time" class="col-form-label reason-label">Start Time</label>
              <input type="time" class="form-control" id="start-time">
          </div>
          <div class="mb-3 time-container">
              <label for="end-time" class="col-form-label reason-label">End Time</label>
              <input type="time" class="form-control" id="end-time">
          </div>
          <div class="mb-3" id='counter'>
              <p><span id="days"></span></p>
              <p><span id="actual-days" hidden></span></p>
              <p><span id="hours"></span></p>
              <p><span id="actual-hours" hidden></span></p>
          </div>
          
          <div class="mb-3">
              <label for="reason" class="col-form-label reason-label">Reason</label>
              <textarea type="text" class="form-control" id="reason"></textarea>
          </div>
          <div class="mb-3">
            <label for="leave-pay" class="col-form-label leave-pay-label">Payment</label>
            <input type="text" class="form-control" id="leave-pay" disabled>                      
          </div>
          <br>
         <div class="mb-3" style="text-align: center;">
              <label for="supp-doc">Supporting Document(s)</label>
              <input type="file" class="form-control-file" id="supp-doc" > 
         </div>
        
          <div class="mb-3" >
            <div class="alert" role="alert" id='requesting-leave-message'>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Reset</button>
            <button id="calc" type="button" class="btn btn-primary">Calculate</button>
            <button type="submit" class="btn btn-primary" id='submit-request-leave'>Request</button>
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>

<div class="modal fade" id="genderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="genderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id='gender-modal-content'>
      <div class="modal-header">
        <h5 class="modal-title" id="genderModalLabel">Enter Gender</h5>
      </div>
      <div class="modal-body" id='gender-modal-body'>
        <form>
          <div class="mb-3">
            <label for="employee-gender-m" class="col-form-label">Gender</label>
            <select id="employee-gender-m" class="form-control" required>
              <option value="" selected disabled>Select gender</option>
                {% for gender in genders %}
              <option value="{{ gender.0 }}">{{ gender.1 }}</option>
                {% endfor %}
            </select>                         
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id='submit-gender'>Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">Leave Request</h5>
        <button type="button" class="btn-close" id='close-view-modal' data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="view-leave-body">

      </div>
      <div class="modal-footer" id="view-leave-footer">

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delegateModal" tabindex="-1" aria-labelledby="delegateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delegateModalLabel">Delegate Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='delegate-employee-form'>
          {% csrf_token %}
            <div class="mb-3" id='loading-delegate-employee'>
            </div>
           <div class="mb-3">
            <label for="employee-name" class="col-form-label">Employee</label>
            <select id="employee-dropdown" class="form-control" required>
              <option value="" selected disabled>Select Employee</option>
           
            </select>           
          </div>
          <div class="mb-3">
              <label for="delegate-start-date" class="col-form-label reason-label set-min" required>Start Date</label>
              <input type="date" class="form-control" id="delegate-start-date">
          </div>
          <div class="mb-3 end-date-container">
              <label for="delegate-end-date" class="col-form-label reason-label set-min">End Date</label>
              <input type="date" class="form-control" id="delegate-end-date">
          </div>
          <div class="mb-3" id='adding-delegate-message'>
            <div class="alert alert-success" role="alert">
              <strong>Delegating to employee...</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Reset</button>
            <button type="submit" class="btn btn-primary" id='submit-delegate-employee'>Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>


<div class="modal fade" id="studyPeriodModal" tabindex="-1" aria-labelledby="studyPeriodModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studyPeriodModalLabel">Update Study Period</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='form-study-period'>
          {% csrf_token %}
           <div class="mb-3">
            <label for="study-period-department" class="col-form-label add-employee-label">Department</label>
            <select id="study-period-department" class="form-control" required>
              <option value="" selected disabled>Select Department</option>
                {% for department in departments %}
                <option value="{{ department.name }}">{{ department.name }}</option>
                {% endfor %}
            </select>           
          </div>
          <div class="mb-3">
              <label for="study-start-date" class="col-form-label reason-label" required>Start Date</label>
              <input type="date" class="form-control" id="study-start-date">
          </div>
          <div class="mb-3 end-date-container">
              <label for="study-end-date" class="col-form-label reason-label">End Date</label>
              <input type="date" class="form-control" id="study-end-date">
          </div>
          <div class="mb-3" id='adding-study-period-message'>
            <div class="alert alert-success" role="alert">
              <strong>Updating Study Period...</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Reset</button>
            <button type="submit" class="btn btn-primary" id='submit-add-study-period'>Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>

<div class="modal fade" id="carryForwardLeavesModal" tabindex="-1" aria-labelledby="carryForwardLeavesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="carryForwardLeavesModal">Carry Forward Leave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='set-carry-forward-leaves-form'>
          {% csrf_token %}
           <div class="mb-3">
            <label for="carry-forward-employee" class="col-form-label add-employee-label">Employee</label>
            <select id="carry-forward-employee" class="form-control" required>
              <option value="" selected disabled>Select Employee</option>
                {% for employee in employees %}
                <option value="{{ employee.username }}">{{ employee.first_name }} {{ employee.last_name }}</option>
                {% endfor %}
            </select>           
          </div>
          <div class="mb-3">
            <label for="carry-forward-option" class="col-form-label add-employee-label">Allow carry forward Annual Leave</label>

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" id="carry-forward-option">

              <input type="radio" class="btn-check" name="carry-forward-permission" id="allow-carry-forward" autocomplete="off" value='Yes'>
              <label class="btn btn-outline-primary" for="allow-carry-forward">Yes</label>
            
              <input type="radio" class="btn-check" id="deny-carry-forward" name="carry-forward-permission" autocomplete="off" value='No' checked>
              <label class="btn btn-outline-primary" for="deny-carry-forward">No</label>
            
            </div>
          </div>
          <div class="mb-3" id='saving-carry-forward-leaves-message'>
            <div class="alert alert-success" role="alert">
              <strong>Saving Carry Forward Leave Settings </strong>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Reset</button>
            <button type="submit" class="btn btn-primary" id='submit-carry-forward-leaves'>Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>

<div class="modal fade" id="addLeaveModal" tabindex="-1" aria-labelledby="addLeaveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add/Remove Leave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='form-add-leave'>
          {% csrf_token %}
          <div class="mb-3">
            <label for="employee-leave-id" class="col-form-label add-leave-label">ID</label>
            <select id="employee-leave-id" class="form-control" required>
              <option value="" selected disabled>Select Employee</option>
              {% for employee in employees %}
              <option value="{{ employee.username }}">{{ employee.username }}</option>
              {% endfor %}
            </select>                         
          </div>

          <div class="mb-3">
            <label for="add-leave-type" class="col-form-label leave-type-label">Leave Type</label>
            <select id="add-leave-type" class="form-control" required>
              <option value="" selected disabled>Select Leave Type</option>
                {% for leave in leaves %}
              <option value="{{ leave.0 }}">{{ leave.1 }}</option>
                {% endfor %}
            </select>                         
          </div>
          <div class="mb-3 days-container">
            <label for="leave-days" class="col-form-label add-leave-label">Days</label>
            <input type="number" class="form-control" id="leave-days" min=0>
        </div>
        <div class="mb-3 hours-container">
              <label for="leave-hours" class="col-form-label reason-label">Hours</label>
              <input type="number" class="form-control" id="leave-hours" min=0>
        </div>
        <div class="mb-3">
              <label for="reason-add-leave" class="col-form-label reason-label" required>Reason</label>
              <textarea type="text" class="form-control" id="reason-add-leave"></textarea>
          </div>
          <div class="mb-3" id='adding-leave-message'>
            <div class="alert alert-success" role="alert">
              <strong>Adding/Removing leave...</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Reset</button>
            <button type="submit" class="btn btn-danger" id='submit-remove-leave'>Remove</button>
            <button type="submit" class="btn btn-primary" id='submit-add-leave'>Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>

<div class="modal fade" id="addHolidayModal" tabindex="-1" aria-labelledby="addHolidayModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Holidays</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id='form-add-holiday'>
          {% csrf_token %}
          <div class="mb-3">
              <label for="holiday-name" class="col-form-label add-department-label">Name</label>
              <input type="text" class="form-control set-min" id="holiday-name">
          </div>
          <div class="mb-3 holiday-date-container">
              <label for="holiday-date" class="col-form-label reason-label" required>Start Date</label>
              <input type="date" class="form-control set-min" id="holiday-date">
          </div>
          <div class="mb-3 holiday-date-container">
              <label for="holiday-end-date" class="col-form-label reason-label" required>End Date</label>
              <input  type="date" class="form-control set-min" id="holiday-end-date">
          </div>
          <div class="mb-3" id='adding-holiday-message'>
            <div class="alert alert-success" role="alert">
              <strong>Adding Holiday...</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="this.form.reset();">Reset</button>
            <button type="submit" class="btn btn-primary" id='submit-add-holiday'>Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>

<div class='container' id='employees-list-container'>
</div>

<div class='container' id='requests-container'>
</div>

<div class='container' id='employee-leaves-container'>
</div>

<div class='container' id='past-leaves-container'>
</div>

<div class='container' id='past-requests-container'>
</div>

<div class='container' id='pending-requests-container'>
</div>

<div class='container' id='holidays-container'>
</div>

{% endblock %}