{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Leave Management System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <link href="{% static 'app/styles.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'app/index.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-light">
          <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class='nav-item'>
              <a href="https://transnationalacademicgroup.com/" >
                <img src="{% static 'app/tag-logos.png' %}" alt="" width="55%" height="55%" >
              </a>
            </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li>
                <button type="button" class="btn btn-light" id='logout'>
                  <a class="nav-item"  href="{% url 'logout' %}">Logout</a>
                </button>
              </li>
            </ul> 
            {% endif %}
          </div>
        </nav>
        <hr>
      <nav class="navbar navbar-dark" id='nav-lms'>
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Leave Management System</span>
        {% if request.user.is_authenticated %}
            <span class="navbar-brand mb-0 h1 mr-auto">{{ request.user.first_name }} {{ request.user.last_name }}</span>
        {% endif %}
        </div>
      </nav>

      {% if request.user.is_authenticated %}
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light nav-shadow">
        <div class="container" id='nav-container'>
          <a id='nav-dashboard' class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
              {% if request.user.is_authenticated %}
                <li class="nav-item"> 
                  <a class="nav-link active" id="nav-request-leave" aria-current="page" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#reqLeaveModal">Request Leave</a>
                </li>
                <div id="view-navbarNavLightDropdown">
                  <ul class="navbar-nav" id="view-dropdown">
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#" id="view-navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        View
                      </a>
                      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="view-navbarDarkDropdownMenuLink">
                        {% if request.user.role.name == "Head of Department" or request.user.department.name == "People and Culture" or request.user.role.name == "CEO" %}
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-view-employees" aria-current="page" href="javascript:void(0)">Employees</a>
                        </li>
                        {% endif %} 
                        <li class="nav-item"> 
                          <a class="nav-link active" id="my-leaves" aria-current="page" href="javascript:void(0)">My Leaves</a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-view-past-leaves" aria-current="page" href="javascript:void(0)">Past Leaves</a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-view-past-requests" aria-current="page" href="javascript:void(0)">Past Requests</a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-view-pending-requests" aria-current="page" href="javascript:void(0)">Pending Requests</a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-view-holidays" aria-current="page" href="javascript:void(0)">Holidays</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>

                {% if request.user.department.name == 'People and Culture' or  request.user.role.name == "CEO" %}
                <div id="add-navbarNavLightDropdown">
                  <ul class="navbar-nav" id="add-dropdown">
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#" id="add-navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Add
                      </a>
                      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="add-navbarDarkDropdownMenuLink">
                       
                        <li class="nav-item">
                          <a class="nav-link active" id="nav-add-employee" aria-current="page" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#employeeModal">Employee</a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-add-department" aria-current="page" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#departmentModal">Department</a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-add-holiday" aria-current="page" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addHolidayModal">Holidays</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                {% endif %} 

                {% if request.user.department.name == 'People and Culture' or request.user.role.name == "CEO" %}
                <div id="update-navbarNavLightDropdown">
                  <ul class="navbar-nav" id="update-dropdown">
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#" id="update-navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Update
                      </a>
                      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="update-navbarDarkDropdownMenuLink">                         
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-add-leave" aria-current="page" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addLeaveModal">Leaves</a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link active" id="nav-add-study-period" aria-current="page" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#studyPeriodModal">Study Period</a>
                        </li>
                        
                      </ul>
                    </li>
                  </ul>
                </div>
                {% endif %} 
              {% endif%}

              {% if request.user.department.name == 'People and Culture' or request.user.role.name == "CEO" %}
              
              <li class="nav-item"> 
                <a class="nav-link active" id="nav-carry-forward-leaves" aria-current="page" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#carryForwardLeavesModal">Carry Forward Leaves</a>
              </li>
              
              {% endif %}

              {% if request.user.role.name == "Head of Department" or request.user.department.name == "People and Culture" or request.user.role.name == "CEO" %}
              <li class="nav-item"> 
                <a class="nav-link active" id="nav-delegate" aria-current="page" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#delegateModal">Delegate</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      </nav>
    
      {% endif %}

      {% block body %}
      {% endblock %} 
      
    </div>
  </body>
</html>