{% extends "app/layout.html" %}

{% block body %}
<div class="container">
            
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show credential-error" role="alert">
    <strong> {{ error }} </strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <div class="container padding" id='login-container'>
    <h4 class='padding'>Log in to Leave Management System</h4>
    <div id="form-container">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div id='input-container'>
              <div class="mb-3" id='id-container'>
                  <label for="id-input" class="form-label">ID</label>
                  <input name="username" type="text" class="form-control" id="id-input" autofocus>
                </div>
                <div class="mb-3" id='password-container'>
                  <label for="password-input" class="form-label">Password</label>
                  <input name="password" type="password" class="form-control" id="password-input">
                </div>
                <div class="mb-3">
                  <button type="submit" class='btn btn-primary'>Log In</button>
                </div>
            </div>
          </form>
    </div>
  </div>
  
</div>
{% endblock %}